/* Utility */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* General */
body{
    font-family: Helvetica, Arial, sans-serif;
}

header{
    background-color: #3161E0;
}

footer{
    background-color: #23272A;
    color: #FFF;
}

 /* Header */
.container{
    margin: 0 auto;
    max-width: 1170px;
}

.flexnav{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

li{
    list-style: none;
}

.button{
    background-color: #FFF;
    display: block;
    color: #23272A;
    border-radius: 20px;
    padding: 10px 12px;
    text-decoration: none;
}

header nav ul{
    min-width: 500px;
}

header nav.container{
    padding: 20px 0;
}